/src/watermark
*.o
*.swp

# Autotools artifacts
Makefile
Makefile.in
.deps/
/INSTALL
/aclocal.m4
/compile
/config.*
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/stamp-h1
/m4/
/autom4te.cache/
